body {
    background-color: rgb(137, 120, 143);
}

.message-container {
    background-color: beige;
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.instructions-container {
    background-color: beige;
}

.quiz-container {
    padding-top: 100px;
}

.question-container {
    background-color: beige;
    margin-bottom: 30px;
    max-width: 700px;
    border-radius: 15px;

}

.answer-container {
    display: flex;
    background-color: coral;
    margin-bottom: 30px;
    max-width: 700px;
    border-radius: 15px;
}

.answer-container:hover {
    color: #f8f9fa !important;
    background-color: #67747e;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.scores {
    display: inline-block;
    padding: 25px;
}

#submit-form {
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 20px;
}