body {
    background-color: rgb(137, 120, 143);

}

.message-container {
    background-color: beige;
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #745cc1;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;

}

.btn:hover {
    background-color: #71626e;

}

.btn:focus {
    outline: none;

}

.btn:active {
    background-color: #761a37;

}

.instructions-container {
    background-color: beige;
}

#hud {
    display: flex;
    justify-content: space-around;
}

.hud-prefix {
    text-align: center;
}

.hud-main-text {
    text-align: center;
}

.quiz-container {
    padding-top: 100px;
}

.question-container {
    background-color: beige;
    margin-bottom: 30px;
    max-width: 700px;
    border-radius: 15px;
    padding: 15px;

}

.answer-container {
    display: flex;
    background-color: coral;
    margin-bottom: 30px;
    border-radius: 15px;
}

.answer-text {
    padding: 20px;
}

.answer-choice {
    padding: 20px;
}

/* --credit to Brian Design --*/
.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 rgb(6, 0, 128);
    transform: scale(1.02);
    transition: transform 100ms;
}



#submit-form {
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 20px;
}