@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Signika:wght@300;400;500;600;700&display=swap');


body {
    background: #390C37;
    background: -moz-linear-gradient(left, #390C37 0%, #6F39A4 33%, #F379E1 100%);
    background: -webkit-linear-gradient(left, #390C37 0%, #6F39A4 33%, #F379E1 100%);
    background: linear-gradient(to right, #390C37 0%, #6F39A4 33%, #F379E1 100%);
    /*background-color: rgb(137, 120, 143);*/
    font-family: Signika;
    font-weight: 700;
    font-size: x-large;
    color: wheat;
}

.navbar {
    background: #390C37;
    background: -moz-linear-gradient(left, #390C37 0%, #6F39A4 33%, #F379E1 100%);
    background: -webkit-linear-gradient(left, #390C37 0%, #6F39A4 33%, #F379E1 100%);
    background: linear-gradient(to right, #390C37 0%, #6F39A4 33%, #F379E1 100%);


}

.nav-link {
    color: wheat;
}

h1 {
    font-size: xxx-large;
    font-weight: 700;
    text-shadow: 7px 3px 3px #6641C3;
}

h2 {
    font-weight: 700;
    text-shadow: 7px 3px 3px #6641C3;
}

.message-container {
    background-color: #4d35bf;
}



.buttons {
    display: flex;
    align-content: center;
    justify-content: space-evenly;

}


.btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #0d6efd;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-bottom: 10px;

}

.btn:hover {
    background-color: #6c7bb1;
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 rgb(6, 0, 128);
    transform: scale(1.02);
    transition: transform 100ms;

}

.btn:focus {
    outline: none;

}

.btn:active {
    background-color: #483e92;

}

.instructions-container {
    background-color: #4d35bf;
}

#hud {
    display: flex;
    justify-content: space-around;
}

.hud-prefix {
    text-align: center;
}

.hud-main-text {
    text-align: center;
}

.quiz-container {
    padding-top: 100px;
}

.question-container {
    background-color: #4d35bf;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 30px;

}

.answer-container {
    display: flex;
    background-color: coral;
    margin-bottom: 30px;
    border-radius: 15px;
    color: darkblue;
}

.answer-text {
    padding: 20px;
}

.answer-choice {
    padding: 20px;
}

/* --credit to Brian Design --*/
.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 rgb(6, 0, 128);
    transform: scale(1.02);
    transition: transform 100ms;
}



#submit-form {
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 20px;
}

/*--Media queries--*/

@media screen and (max-width: 600px) {
    .buttons {
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}