body {
    background-color: rgb(137, 120, 143) !important;

}

.message-container {
    background-color: beige;
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rba (86, 185, 235, 0, 5);
    transform: translateY (0.1 rem);
    transition: transform 150ms;
}

.instructions-container {
    background-color: beige;
}

#hud {
    display: flex;
    justify-content: space-around;
}

.hud-prefix {
    text-align: center;
}

.hud-main-text {
    text-align: center;
}

.quiz-container {
    padding-top: 100px;
}

.question-container {
    background-color: beige;
    margin-bottom: 30px;
    max-width: 700px;
    border-radius: 15px;
    padding: 15px;

}

.answer-container {
    display: flex;
    background-color: coral;
    margin-bottom: 30px;
    border-radius: 15px;
}

.answer-text {
    padding: 20px;
}

.answer-choice {
    padding: 20px;
}

/* --credit to Brian Design --*/
.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 0.4rem 0 rgb(6, 0, 128);
    transform: scale(1.02);
    transition: transform 100ms;
}



#submit-form {
    margin: 0 auto;
    max-width: 60%;
    padding-bottom: 20px;
}